<h1 class="page-header">Score Card</h1>
<p>Click your team name below for instructions on getting the code.</p>
<p>
  Ruby docs:
  <%= link_to 'Quick Ref', '/docs/www.zenspider.com/Languages/Ruby/QuickRef.html' %> |
  <%= link_to '2.1.0 Core', '/docs/ruby_2_1_0_core/' %> |
  <%= link_to '2.1.0 Stdlib', '/docs/ruby_2_1_0_stdlib/' %>
</p>
<div class="table-responsive">
  <table class="table table-striped leaderboard table-bordered table-condensed small">
    <thead>
      <tr>
        <th></th>
        <%= render_numeric_cells @board.hole_names[0..8],   tag: :th, class: 'hole' %>
        <%= render_numeric_cell 'OUT',   tag: :th, class: 'hole calculated' %>
        <%= render_numeric_cells @board.hole_names[9..17], tag: :th, class: 'hole' %>
        <%= render_numeric_cell 'IN',    tag: :th, class: 'hole calculated' %>
        <%= render_numeric_cell 'TOTAL', tag: :th, class: 'calculated' %>
      </tr>
      <tr class="warning">
        <th>Length</th>
        <%= render_numeric_cells @board.hole_lengths[0..8] %>
        <%= render_numeric_cell  @board.hole_lengths[0..8].coercive_sum, class: 'calculated' %>
        <%= render_numeric_cells @board.hole_lengths[9..17] %>
        <%= render_numeric_cell  @board.hole_lengths[9..17].coercive_sum, class: 'calculated' %>
        <%= render_numeric_cell  @board.hole_lengths.coercive_sum, class: 'calculated' %>
      </tr>
      <tr class="info">
        <th>Par</th>
        <%= render_numeric_cells @board.pars[0..8] %>
        <%= render_numeric_cell  @board.pars[0..8].coercive_sum, class: 'calculated' %>
        <%= render_numeric_cells @board.pars[9..17] %>
        <%= render_numeric_cell  @board.pars[9..17].coercive_sum, class: 'calculated' %>
        <%= render_numeric_cell  @board.pars.coercive_sum, class: 'calculated' %>
      </tr>
      <tr class="success">
        <th>Best</th>
        <%= render_numeric_cells @board.bests[0..8] %>
        <%= render_numeric_cell  @board.bests[0..8].coercive_sum, class: 'calculated' %>
        <%= render_numeric_cells @board.bests[9..17] %>
        <%= render_numeric_cell  @board.bests[9..17].coercive_sum, class: 'calculated' %>
        <%= render_numeric_cell  @board.bests.coercive_sum, class: 'calculated' %>
      </tr>
    </thead>
    <tbody>
      <%= render @board.teams -%>
    </tbody>
  </table>
</div>
<script type="text/javascript" charset="utf-8">
  setTimeout(function(){ location.reload() }, 30000)
</script>
