<h1 class="page-header">Leaderboard</h1>
<div class="table-responsive">
  <table class="table table-striped leaderboard table-bordered table-condensed">
    <thead>
      <tr>
        <%= leaderboard_header %>
      </tr>
      <tr class="warning small">
        <th>Length</th>
        <%= render_numeric_cells @board.hole_lengths[0..8] %>
        <td></td>
        <%= render_numeric_cells @board.hole_lengths[9..17] %>
        <td></td>
        <td></td>
      </tr>
      <tr class="small info">
        <th>Par</th>
        <%= render_numeric_cells @board.pars[0..8] %>
        <%= render_numeric_cell  @board.pars[0..8].sum %>
        <%= render_numeric_cells @board.pars[9..17] %>
        <%= render_numeric_cell  @board.pars[9..17].sum %>
        <%= render_numeric_cell  @board.pars.sum %>
      </tr>
    </thead>
    <tbody>
      <%= render @board.teams -%>
    </tbody>
  </table>
</div>
