<tr>
  <th><%= team.name %></th>
  <%- 1.upto(9) do |i| -%>
    <td><%= render_score team.score_for i %></td>
  <%- end -%>
  <td><%= render_score team.front_nine %></td>
  <%- 10.upto(18) do |i| -%>
    <td><%= render_score team.score_for i %></td>
  <%- end -%>
  <td><%= render_score team.back_nine %></td>
  <td><%= render_score team.total %></td>
</tr>
