<tr>
  <th><%= team.name %></th>
  <td><%= team.score[1] %></td>
  <td><%= team.score[2] %></td>
  <td><%= team.score[3] %></td>
  <td><%= team.score[4] %></td>
  <td><%= team.score[5] %></td>
  <td><%= team.score[6] %></td>
  <td><%= team.score[7] %></td>
  <td><%= team.score[8] %></td>
  <td><%= team.score[9] %></td>
  <td><%= team.front_nine %></td>
  <td><%= team.score[1] %></td>
  <td><%= team.score[1] %></td>
  <td><%= team.score[1] %></td>
  <td><%= team.score[1] %></td>
  <td><%= team.score[1] %></td>
  <td><%= team.score[1] %></td>
  <td><%= team.score[1] %></td>
  <td><%= team.score[1] %></td>
  <td><%= team.score[1] %></td>
  <td><%= team.back_nine %></td>
  <td><%= team.total %></td>
</tr>